<div class="row">
	<h1>Where am I?</h1>
	<div class="col-md-8 col-md-offset-2">
	<p align="center">In first place, I really hope you're where you want to be.
	Besides that, you're here, at my digital home.<br>
	You're welcome to look into every corner of it: <br>
	<ul>
		<li>In <a>Recreation</a> you will find my creative playground (or my best try at least)</li>
		<li>In <a>Knowledge</a> you might find useful tools for engineering, coding and sciences</li>
		<li>In <a>Experience</a> you can get an idea of my proffesional walkthrough. Perhaps here you'll find useful stuff too.</li>
	</ul>
	</p>
	<img class="profile_photo" src="img/profile_photo.png">
	<br><br>
	<p class="comment" align="center">This website runs on Meteor framework. Designs and Code by me. &reg;</p>
	</div>
</div>