        <div class="home-btn-container"><a href="/"><i class="home-btn glyphicon glyphicon-home"></i></a></div> 
        <div id="main-menu">
          <div class="scroll-show">
            <div id="scroller">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="row">
                    <div class="col-md-4" ng-repeat="(i,realm) in realms" >
                      <div class="menu-item-bottom" ng-class="active(realm.name)">
                          <a class="main-map-a" href="/realms/{{realm.name}}">{{realm.name}}</a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>