        <div id="main-menu">
          <div class="flecha_izquierda">
            <a ng-click="rotate_left()"><img src="./icons/flecha_izq.png"></a>
          </div>
          <div class="scroll-show">
            <div id="scroller">
              <div class="menu-item-container" ng-repeat="(i,realm) in realms" ng-click="set_center(realm._id)">
                <div class="menu-item-img">
                  <a href=""><img ng-src="{{realm.image_url}}"></a>
                </div>
                <div class="menu-item-subcontainer">
                  <div class="menu-item-top">
                          
                  </div>
                  <div class="menu-item-bottom">
                    {{realm.name}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flecha_derecha">
            <a ng-click="rotate_right()"><img src="./icons/flecha_der.png"></a>
          </div>
        </div>